:root {
    --color-dark: #252525;
    --color-grey: #F7F7F7;
    --color-accent: #6C63FF;
    --color-grey-alt: #CDCDCD;
    --color-warning: #7c0416;

    --border-radius-large: 16px;
    --border-radius-medium: 5px;
    --border-radius-small: 2px;

    --font-family-base: "Kanit", sans-serif;
    --font-family-secondary: "Inter", sans-serif;

    --container-width: 750px;
    --container-padding-x: 10px;
}