.modal {
    &__bg {
        width: 100%;
        height: 100dvh;
        min-height: 100dvh;
        background-color: var(--color-dark);
        opacity: 70%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 10;
        transition: left .5s ease-in-out;

        &_shown {
            left: 0;
        }
    }

    &__inner {
        background-color: var(--color-dark);
        padding-inline: 30px;
        padding-block: 18px;
        max-width: 500px;
        width: 100%;
        box-sizing: border-box;
        border-radius: var(--border-radius-large);
        border: 1px solid var(--color-grey);
        transition: top .3s ease-in-out;
        z-index: 20;

        @include abs-center;
        top: -100%;

        &_shown {
            top: 50%;
        }
        &_lightmode {
            background-color: var(--color-grey);
        }
    }

    &__header { 
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }

    &__form {
        margin-top: 25px;
        display: flex;
        flex-direction: column;

        &-input, &-text {
            max-width: 440px;
            box-sizing: border-box;
            width: 100%;
            padding-block: 11px;
            padding-left: 16px;
            font-family: "Inter";
            font-size: 16px;
            border-radius: var(--border-radius-medium);
            /*border: 1px solid var(--color-grey);
            background-color: var(--color-dark);
            color: var(--color-grey-alt);*/
        }

        &-text {
            resize: none;
            margin-top: 10px;
            height: 150px;
        }

        &-input_outlined {
            border: 1px solid var(--color-warning);
        }
    }

    &__buttons {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.warning {
    color: var(--color-warning);
    font-size: 14px;
    font-weight: 400;
}

.header-warning {
    display: none;
    margin-top: 3px;

    &_shown {
        display: flex;
    }
}